.about-div1{
    text-align: center;
    

}
.about-div1 h1{
    font-size: 3rem;
    color: red;
}
.about-div2{
    background-color:black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}
.about-div2 h1{
    padding-left: 20px;
}
.about-div2 p{
    padding-left: 20px;
    font-size: 25px;
}