.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    width: 100%;
    top: 0;
    z-index: 2;
    
}
.header h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 2rem;
}
.nav-bar a{
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color:white;
}
.nav-bar a:hover{
    color: red;
}
@media (max-width:940px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        
    }
    .nav-bar{
        padding-bottom: 1rem;
    }
}